.cartContainer {
  display: flex;
  padding: 40px;
  justify-content: space-between;
}

.shoppingCart {
  width: 60%;
}

.backToStore {
  display: block;
  margin-bottom: 20px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 768px) {
  .cartContainer {
    flex-direction: column;
  }

  .shoppingCart,
  .orderDetails {
    width: 100%;
  }

  .orderDetails {
    margin-left: 0;
    margin-top: 32px;
  }
}
