.catalog-section {
  max-width: 1440px;
  margin: auto;
  padding: 20px;
}

.catalog-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.all-categories-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: 100px;
  color: #8B8B8B;
  background: #FFFFFF;
  border: 2px solid #8B8B8B;
  cursor: pointer;
  padding: 8px 16px;
  box-sizing: border-box;
}

.category-cards-container {
  display: flex;
  justify-content: space-between;
}

.category-card {
  width: calc((100% - 3 * 20px) / 4);
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

.category-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.category-title {
  padding-top: 10px;
}

@media (max-width: 1440px) {
  .category-card {
    width: calc((100% - 2 * 20px) / 3);
  }
}

@media (max-width: 1024px) {
  .category-card {
    width: calc((100% - 20px) / 2);
  }
}

@media (max-width: 768px) {
  .category-card {
    width: 100%;
  }
}
