.catalogSection {
  margin: auto;
}

.catalogHeader {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.allCategoriesBtn {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: 100px;
  color: #8B8B8B;
  background: #FFFFFF;
  border: 2px solid #8B8B8B;
  cursor: pointer;
  padding: 8px 16px;
  box-sizing: border-box;
}

.categoryCardsContainer {
  margin-left: 30px;
  margin-bottom: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}

.categoryCard {  
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr;
}

.categoryCard img {
  height: 350px;
  width: 90%;
  object-fit: cover;
}

.categoryTitle {
  align-self: end;
  font-weight: bold;
}
