.discountSection {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgba(0, 99, 0, 1), rgba(51, 153, 51, 1));
    padding: 30px 95px;
    color: white;
  }
  
  .gnome {
    width: 50%;
  }

  .discountInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .discountInfo h1 {
    font-size: 90px;
    font-weight: 700;
    margin: 0;
  }
  
  .orderInfo {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
  }
  
  .phoneInput {
    font-size: 18px;
    margin: 30px 0;
    padding: 25px 50px;
    border: none;
    border-radius: 25px;
    max-width: 373px;
  }
  
  .phoneInput::placeholder {
    color: rgba(108, 108, 108, 1);
  }
  
  .discountButton {
    padding: 20px 90px;
    max-width: 473px;
    border-radius: 25px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    font-size: 28px;
    font-weight: 600;
  }
  

  