.categoryContainer {
    max-width: 1440px;
    margin: auto;
    padding: 20px;
  }
  
  .productsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  
  .productCard {
    text-align: center;
    border: 1px solid #ddd;
    padding: 16px;
  }
  
  .productCard img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .productCard h3 {
    margin-top: 10px;
  }
  
  .discountedPrice {
    color: red;
    font-weight: bold;
  }
  
  .originalPrice {
    text-decoration: line-through;
    margin-left: 5px;
    color: grey;
  }
  